*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}body{
    background-color:white;
    color: rgb(3, 3, 3);
    overflow: hidden;
    overflow-y: scroll;
}.logo{
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}